<!doctype html>
<html lang="en">
<head>
    <title>SoftLeader Deployer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap-4.1.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        :root {
            --jumbotron-padding-y: 3rem;
        }

        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        footer p {
            margin-bottom: .25rem;
        }

        .console-output {
            line-height: 1.25;
            padding: 15px 20px 0px 20px;
            max-height: 70vh;
            overflow-y: auto;
        }

        .console-output-font {
            font-size: 1.1rem;
            font-family: monospace;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/deployer">
        <img src="https://avatars0.githubusercontent.com/u/18475967?s=400&u=9fe4cb519c6ee3f39b96c4eac02856cd65e84e0f&v=4"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Deployer
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/deploy">Deploy YAML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/histories">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stacks">Swarm Stacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Docker Stats</a>
            </li>
            {{range $key, $value := .navbar}}
                <li class="nav-item">
                    <a class="nav-link" href="{{$value}}">{{$key}}</a>
                </li>
            {{end}}
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container">
        <p>
        <form>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" aria-describedby="cleanUpHelp" >
                        <input type="checkbox" id="cleanUp" class="form-check-input" {{if .dft.CleanUp}}checked{{end}}>
                        Clean up
                    </label>
                </div>
            </div>
            <div class="form-group disabled">
                <label for="project">Project</label>
                <input type="text" class="form-control" id="project" aria-describedby="projectHelp"
                       placeholder="my-project" value="{{.dft.Project}}" required>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" aria-describedby="devHelp">
                        <input type="checkbox" id="dev" class="form-check-input" {{if .dft.Dev.IpAddress}}checked{{end}}>
                        Dev mode
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="devIpAddress">Dev - Eureka ip address</label>
                <input type="text" class="form-control" id="devIpAddress" aria-describedby="devIpAddressHelp"
                       value="{{.dft.Dev.IpAddress}}" {{if not .dft.Dev.IpAddress}}disabled{{end}}>
                <small id="groupHelp" class="form-text text-muted">
                    此欄位放空白視同不開啟 dev 模式, 此 ip 會固定透過 DEVOPS_OPTS 變數帶入 Container OS 變數
                </small>
            </div>
            <div class="form-group">
                <label for="devPort">Dev - Port publish starts form</label>
                <input type="number" class="form-control" id="devPort" aria-describedby="devPortHelp"
                       value="{{.dft.Dev.Port}}" {{if not .dft.Dev.IpAddress}}disabled{{end}}>
                <small id="groupHelp" class="form-text text-muted">
                    此次部署
                </small>
            </div>
            <div class="form-group">
                <label for="devIgnore">Dev - Services ignore Dev mode</label>
                <input type="text" class="form-control" id="devIgnore" aria-describedby="devIgnoreHelp"
                       value="{{.dft.Dev.Ignore}}" {{if not .dft.Dev.IpAddress}}disabled{{end}}>
            </div>
            <div class="form-group">
                <label for="yaml">YAML</label>
                <input type="text" class="form-control" id="yaml" aria-describedby="yamlHelp"
                       value="{{.dft.Yaml}}" required>
                <small id="yamlHelp" class="form-text text-muted">
                    如: github:softleader/softleader-package/softleader-base.yaml#master
                </small>
            </div>
            <div class="form-group">
                <label for="extend">Extend</label>
                <input type="text" class="form-control" id="extend" aria-describedby="extendHelp"
                       value="{{.dft.Extend}}">
                <small id="extendHelp" class="form-text text-muted">
                    如: { "yaml": "main.yaml", "extend": "patch.yaml" }, 則以 main.yaml 為基礎, 將 patch.yaml 的設定覆蓋過 main.yaml 中
                </small>
            </div>
            <div class="form-group">
                <label for="yaml">Group</label>
                <input type="text" class="form-control" id="group" aria-describedby="groupHelp" value="{{.dft.Group}}">
                <small id="groupHelp" class="form-text text-muted">
                    指定要部署的 group, 若空白則部署所有的 group, 可用逗號分隔指定多個 group
                </small>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" aria-describedby="flatGroupHelp">
                        <input type="checkbox" id="flatGroup" class="form-check-input" {{if .dft.FlatGroup}}checked{{end}}>
                        Flat Group
                    </label>
                    <small id="groupHelp" class="form-text text-muted">
                        將所有 group 打平, 部署在同一個 swarm stack 中
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="net0">Net0</label>
                <input type="text" class="form-control" id="net0" aria-describedby="net0Help"
                       placeholder="" value="{{.dft.Net0}}">
                <small id="groupHelp" class="form-text text-muted">
                    本次部署要使用的 docker network, 若空白則由部署時自動建立
                </small>
            </div>
            <div class="form-group">
                <label for="net0">Volume0</label>
                <input type="text" class="form-control" id="volume0" aria-describedby="volume0Help"
                       placeholder="" value="{{.dft.Volume0}}">
                <small id="groupHelp" class="form-text text-muted">
                    本次部署使用到的 docker volume
                </small>
            </div>
            <div class="form-group">
                <label for="styleHelp">Style</label>
                <select class="form-control" id="style">
                    <option value="swarm" {{if eq .dft.Style "swarm"}}selected{{end}}>Docker Swarm</option>
                    <option value="charts" {{if eq .dft.Style "charts"}}selected{{end}} disabled>K8s Charts</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" aria-describedby="silentlyHelp">
                        <input type="checkbox" id="silently" class="form-check-input" {{if .dft.Silently}}checked{{end}}>
                        Silently
                    </label>
                </div>
            </div>
            <button id="deploy" url="/api/stacks" type="submit" class="btn btn-outline-primary"
                    onclick="$(this).parent().attr('action', $(this).attr('url'))">
                <i class="fa fa-bomb" aria-hidden="true"></i> Fire in the hole
            </button>
            <button id="generate" url="/yamls" type="submit" class="btn btn-outline-primary"
                    onclick="$(this).parent().attr('action', $(this).attr('url'))">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate YAML
            </button>
        </form>
        </p>
        <hr>
        <p>
        {{/*<div class="alert alert-success" role="alert">*/}}
            {{/*<h4 class="alert-heading"><i class="fa fa-terminal" aria-hidden="true"></i></h4>*/}}
            {{/*<hr>*/}}
            {{/*<pre id="output"></pre>*/}}
        {{/*</div>*/}}
        <div class="bg-dark console-output">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <i class="fa fa-terminal text-muted" aria-hidden="true"></i>
                </div>
                <div class="col-4 text-center"></div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-link" data-clipboard-target="#output">
                        <i class="fa fa-copy text-muted" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <p><pre id="output" class="text-light console-output-font"></pre></p>
        </div>
        </p>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#" class="text-muted"><i class="fa fa-angle-double-up fa-2x"></i></a>
        </p>
        <p><a href="https://github.com/softleader" class="text-muted"><i class="fa fa-github"></i></a> <a href="https://www.facebook.com/softleader" class="text-muted"><i class="fa fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>. All rights reserved.</p>
    </div>
</footer>

<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.0-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<script>

    $(function () {
        new ClipboardJS('.btn');

        $("form").submit(function (event) {
            event.preventDefault();

            var $btns = $("button");
            $btns.prop('disabled', true);

            var $output = $("#output");
            $output.empty(); // .parent().removeClass().addClass("alert alert-success")
            var data = {
                "cleanUp": $("#cleanUp").is(":checked"),
                "project": $("#project").val(),
                "style": $("#style option:selected").val(),
                "dev": {},
                "net0": $("#net0").val(),
                "volume0": $("#volume0").val(),
                "yaml": $("#yaml").val(),
                "extend": $("#extend").val(),
                "group": $("#group").val(),
                "flatGroup": $("#flatGroup").is(":checked"),
                "silently": $("#silently").is(":checked")
            }
            if ($("#dev").is(":checked")) {
                data.dev.ipAddress = $("#devIpAddress").val();
                data.dev.port = parseInt($("#devPort").val());
                data.dev.ignore = $("#devIgnore").val();
            }

            console.log(data);

            $.ajax({
                type: 'post',
                url: event.target.action,
                data: JSON.stringify(data),
                dataType: 'json',
                processData: false,
                xhrFields: {
                    onprogress: function (e) {
                        $output.text(e.currentTarget.response);
                    }
                }
            }).always(function () {
                $btns.prop('disabled', false);
                var dl = $output.text().match(/Generating in/g)
                if (dl) {
                    var $a = $("<a></a>").addClass("btn btn-outline-info").append("<i class=\"fa fa-download\" aria-hidden=\"true\"></i> Download");
                    $a.attr("href", "/yamls/" + $("#project").val());
                    $output.append($("<hr/>")).append($a);
                    return;
                }
                var done = $output.text().match(/.+, done.$/g)
                // if (!done) {
                //     $output.parent().removeClass().addClass("alert alert-danger")
                //     return;
                // }
            });
        });

        $("#dev").click(function () {
            $('#devIpAddress').prop('disabled', function (i, v) {
                return !v;
            });
            $('#devPort').prop('disabled', function (i, v) {
                return !v;
            });
            $('#devIgnore').prop('disabled', function (i, v) {
                return !v;
            });
        });

        $(window).on('beforeunload', function () {
            if ($('#deploy').is(':disabled')) {
                return "Are you sure you want to leave this page while deploying?";
            }
            return;
        });
    })
</script>

</body>
</html>
