<!doctype html>
<html lang="en">
<head>
    <title>SoftLeader Deployer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/deployer">
        <img src="https://avatars0.githubusercontent.com/u/18475967?s=400&u=9fe4cb519c6ee3f39b96c4eac02856cd65e84e0f&v=4"
             width="30" height="30" class="d-inline-block align-top" alt="">
        SoftLeader Deployer
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/deploy">Deploy YAML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Swarm Stacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://192.168.1.60:3000/">Swarm Grafana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://192.168.1.93">IBM Cloud Private</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/softleader/deployer#rest-api">REST API</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <p>
    <form>
        <div class="form-check">
            <label class="form-check-label" aria-describedby="cleanUpHelp">
                <input type="checkbox" id="cleanUp" class="form-check-input" {{if .dft.CleanUp}}checked{{end}}>
                Clean up
            </label>
            <small id="cleanUpHelp" class="form-text text-muted">
                執行前是否要先清空 workspace: {{.workspace}}/${project}
            </small>
            <small id="cleanUpHelp" class="form-text text-muted">
                通常是已經將 package.yaml 放在 workspace 下了才會選擇不清空
            </small>
        </div>
        <div class="form-group disabled">
            <label for="project">Project</label>
            <input type="text" class="form-control" id="project" aria-describedby="projectHelp"
                   placeholder="my-project" value="{{.dft.Project}}" required>
            <small id="projectHelp" class="form-text text-muted">
                將會作為 workspace 的子目錄及 stack name 的 prefix
            </small>
            <small id="projectHelp" class="form-text text-muted">
                workspace 將會是:  {{.workspace}}/${project}
            </small>
            <small id="projectHelp" class="form-text text-muted">
                stack name 的組成方式為: ${project}-${port}-${group}, 如: my-project-50000-svc
            </small>
        </div>
        <div class="form-check">
            <label class="form-check-label" aria-describedby="devHelp">
                <input type="checkbox" id="dev" class="form-check-input" {{if .dft.Dev.IpAddress}}checked{{end}}>
                Dev Mode
            </label>
            <small id="devHelp" class="form-text text-muted">
                開啟 dev 模式, 會自動將這次部署的所有服務都 publish 出來, 讓工程師可以從 local 連進去 docker 環境中
            </small>
            <small id="devHelp" class="form-text text-muted">
                請注意, dev 模式只適合公司內部使用, 不建議拿 dev 模式下產生的 yaml 到客戶端部署
            </small>
        </div>
        <div class="form-group">
            <label for="devIpAddress">Dev IpAddress</label>
            <input type="text" class="form-control" id="devIpAddress" aria-describedby="devIpAddressHelp"
                   value="{{.dft.Dev.IpAddress}}" {{if not .dft.Dev.IpAddress}}disabled{{end}}>
            <small id="devIpAddressHelp" class="form-text text-muted">
                若此欄位放空白則不開啟 dev 模式
            </small>
        </div>
        <div class="form-group">
            <label for="devPort">Dev Port</label>
            <input type="number" class="form-control" id="devPort" aria-describedby="devPortHelp"
                   value="{{.dft.Dev.Port}}" {{if not .dft.Dev.IpAddress}}disabled{{end}}>
            <small id="devPortHelp" class="form-text text-muted">
                若開啟 dev 模式且 port <= 0, 則會以 gen-yaml 套件預設的 50000 port 來 publish
            </small>
        </div>
        <div class="form-group">
            <label for="devIgnore">Dev Ignore</label>
            <input type="text" class="form-control" id="devIgnore" aria-describedby="devIgnoreHelp"
                   value="{{.dft.Dev.Ignore}}" {{if not .dft.Dev.IpAddress}}disabled{{end}}>
            <small id="devIgnoreHelp" class="form-text text-muted">
                開啟 dev 模式時, 要忽略套用的 service name, 可用逗號分隔多個 service
            </small>
            <small id="devIgnoreHelp" class="form-text text-muted">
                service name 一般會定義在每個專案的 Containerfile 中的第二行
            </small>
        </div>
        <div class="form-group">
            <label for="yaml">YAML</label>
            <input type="text" class="form-control" id="yaml" aria-describedby="yamlHelp"
                   value="{{.dft.Yaml}}" required>
            <small id="yamlHelp" class="form-text text-muted">
                yaml 位置, 如: github:softleader/softleader-package/softleader-base.yaml#master
            </small>
            <small id="yamlHelp" class="form-text text-muted">
                如果 yaml 已經上傳到 192.168.1.60 那台, 請放在 {{.workspace}}/${project}/ 下, 這邊就用相對路徑
            </small>
            <small id="yamlHelp" class="form-text text-muted">
                如: 放在  {{.workspace}}/hello/my-project.yaml, 則 project 要設定 hello, yaml 要設定 my-project.yaml
            </small>
        </div>
        <div class="form-group">
            <label for="extend">Extend</label>
            <input type="text" class="form-control" id="extend" aria-describedby="extendHelp"
                   value="{{.dft.Extend}}">
            <small id="extendHelp" class="form-text text-muted">
                要覆蓋上方 YAML 的 yaml, 支援 YAML 參數的所有 pattern, 如: github:softleader/softleader-package/package-uat.yaml#master
            </small>
            <small id="extendHelp" class="form-text text-muted">
                如: { "yaml": "main.yaml", "extend": "slave.yaml" }, 則以 main.yaml 為基礎, 將 slave.yaml 的設定覆蓋過 main.yaml 中
            </small>
        </div>
        <div class="form-group">
            <label for="yaml">Group</label>
            <input type="text" class="form-control" id="group" aria-describedby="groupHelp" value="{{.dft.Group}}">
            <small id="groupHelp" class="form-text text-muted">
                如果 yaml 有分 group, 就可以在這邊指定要部署的 group, 若空白則會自動部署所有的 group, 可用逗號分隔指定多個 group
            </small>
        </div>
        <div class="form-check">
            <label class="form-check-label" aria-describedby="flatGroupHelp">
                <input type="checkbox" id="flatGroup" class="form-check-input" {{if .dft.FlatGroup}}checked{{end}}>
                Flat Group
            </label>
            <small id="flatGroupHelp" class="form-text text-muted">
                是否要打平 group, 讓所有 group 都部署在同一個 stack 中, 只會作用於有分 group 的 package.yaml
            </small>
        </div>
        <div class="form-group">
            <label for="net0">Net0</label>
            <input type="text" class="form-control" id="net0" aria-describedby="net0Help"
                   placeholder="" value="{{.dft.Net0}}">
            <small id="net0Help" class="form-text text-muted">
                docker network 名稱, 不給的話會由 docker 自動建立 network, 移除 stack 時也會自動刪除 network
            </small>
            <small id="net0Help" class="form-text text-muted">
                注意: 如果 package.yaml 有分 group 又沒勾選 flat group, 則一定要先到 192.168.1.60 建立好 network 再填到這邊, 否則 group
                就會分別被建立在不同的 network 中
            </small>
        </div>
        <div class="form-group">
            <label for="net0">Volume0</label>
            <input type="text" class="form-control" id="volume0" aria-describedby="volume0Help"
                   placeholder="" value="{{.dft.Volume0}}">
            <small id="volume0Help" class="form-text text-muted">
                在 192.168.1.60 的 /nfs 下的絕對路徑, 如: /nfs/my-project
            </small>
        </div>
        <div class="form-check">
            <label class="form-check-label" aria-describedby="silentlyHelp">
                <input type="checkbox" id="silently" class="form-check-input" {{if .dft.Silently}}checked{{end}}>
                Silently
            </label>
            <small id="silentlyHelp" class="form-text text-muted">
                在 gen-yaml 時是否要啟用安靜模式
            </small>
            <small id="cleanUpHelp" class="form-text text-muted">
                請注意: 安靜模式下不會有任何的 yaml 檢查, 如 image:tag 是否存在於 registry 中
            </small>
        </div>
        <button id="deploy" url="/" type="submit" class="btn btn-outline-primary"
                onclick="$(this).parent().attr('action', $(this).attr('url'))">
            <i class="fa fa-bomb" aria-hidden="true"></i> Fire in the hole
        </button>
        <button id="generate" url="/yamls" type="submit" class="btn btn-outline-primary"
                onclick="$(this).parent().attr('action', $(this).attr('url'))">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate YAML
        </button>
    </form>
    </p>
    <hr>
    <p>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><i class="fa fa-terminal" aria-hidden="true"></i></h4>
        <hr>
        <pre id="output"></pre>
    </div>
    </p>
</div>

<script src="https://use.fontawesome.com/c4e1e41426.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<script>

    $(function () {
        $("form").submit(function (event) {
            event.preventDefault();

            var $btns = $("button");
            $btns.prop('disabled', true);

            var $output = $("#output");
            $output.empty().parent().removeClass().addClass("alert alert-success")

            var data = {
                "cleanUp": $("#cleanUp").is(":checked"),
                "project": $("#project").val(),
                "style": "swarm",
                "dev": {},
                "net0": $("#net0").val(),
                "volume0": $("#volume0").val(),
                "yaml": $("#yaml").val(),
                "extend": $("#extend").val(),
                "group": $("#group").val(),
                "flatGroup": $("#flatGroup").is(":checked"),
                "silently": $("#silently").is(":checked")
            }
            if ($("#dev").is(":checked")) {
                data.dev.ipAddress = $("#devIpAddress").val();
                data.dev.port = parseInt($("#devPort").val());
                data.dev.ignore = $("#devIgnore").val();
            }

            console.log(data);

            $.ajax({
                type: 'post',
                url: event.target.action,
                data: JSON.stringify(data),
                dataType: 'json',
                processData: false,
                xhrFields: {
                    onprogress: function (e) {
                        $output.text(e.currentTarget.response);
                    }
                }
            }).always(function () {
                $btns.prop('disabled', false);
                var dl = $output.text().match(/Generating in/g)
                if (dl) {
                    var $a = $("<a></a>").addClass("btn btn-outline-info").append("<i class=\"fa fa-download\" aria-hidden=\"true\"></i> Download");
                    $a.attr("href", "/yamls/" + $("#project").val());
                    $output.append($("<hr/>")).append($a);
                    return;
                }
                var done = $output.text().match(/.+, done.$/g)
                if (!done) {
                    $output.parent().removeClass().addClass("alert alert-danger")
                    return;
                }
            });
        });

        $("#dev").click(function () {
            $('#devIpAddress').prop('disabled', function (i, v) {
                return !v;
            });
            $('#devPort').prop('disabled', function (i, v) {
                return !v;
            });
            $('#devIgnore').prop('disabled', function (i, v) {
                return !v;
            });
        });

        $(window).on('beforeunload', function () {
            if ($('#deploy').is(':disabled')) {
                return "Are you sure you want to leave this page while deploying?";
            }
            return;
        });
    })
</script>

</body>
</html>
