<!doctype html>
<html lang="en">
<head>
    <title>SoftLeader Deployer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        :root {
            --jumbotron-padding-y: 3rem;
        }

        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        footer p {
            margin-bottom: .25rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/deployer">
        <img src="https://avatars0.githubusercontent.com/u/18475967?s=400&u=9fe4cb519c6ee3f39b96c4eac02856cd65e84e0f&v=4"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Deployer
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Deploy YAML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/stacks">Swarm Stacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://192.168.1.93:8443">IBM Cloud Private</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/softleader/deployer#rest-api">REST API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://icp.softleader.com.tw/captain-kube">Captain Kube</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container">

        {{range $key, $value := .stacks}}
        <p>
            {{/*<div class="card-deck">*/}}
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#removeModal"
                           name="{{$key}}">
                            <i class="fa fa-trash" aria-hidden="true"></i> {{$key}}
                        </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-sm table-hover">
                            {{/*<thead>*/}}
                            {{/*<tr>*/}}
                                {{/*<th scope="col">Name</th>*/}}
                                {{/*<th scope="col">Services</th>*/}}
                                {{/*<th scope="col"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></th>*/}}
                            {{/*</tr>*/}}
                            {{/*</thead>*/}}
                            <tbody>
                            {{range $index, $line := $value}}
                            <tr>
                                <td>
                                    <a href="/services/{{index $line 0}}" class="btn btn-link btn-sm">
                                        {{index $line 0}} ({{index $line 1}}) {{index $line 2}}
                                    </a>
                                </td>
                                {{/*<td>{{index $line 1}}</td>*/}}
                                <td class="text-right">
                                    <a class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#removeModal"
                                       name="{{index $line 0}}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/*</div>*/}}
        </p>
        {{end}}
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Ready to remove?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove <span class="text-danger"></span>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">
                        <i class="fa fa-ban" aria-hidden="true"></i> Cancel
                    </button>
                    <a class="btn btn-outline-primary btn-sm" id="proceed" href="login.html">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Proceed
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#" class="text-muted"><i class="fa fa-angle-double-up fa-2x"></i></a>
        </p>
        <p><a href="https://github.com/softleader" class="text-muted"><i class="fa fa-github"></i></a> <a href="https://www.facebook.com/softleader" class="text-muted"><i class="fa fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>. All rights reserved.</p>
    </div>
</footer>

<script src="https://use.fontawesome.com/c4e1e41426.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<script>
    $(".fa-trash").parent().click(function () {
        var n = $(this).attr("name");
        var $modal = $("#removeModal");
        $modal.find(".text-danger").html(n);
        $modal.find("#proceed").attr("href", "/stacks/rm/" + n);
    });
</script>

</body>
</html>
